<br/>
<div class="row">
<div class="container">
    <h4 class="text-center">Call for 01-23-999-77 For Contact Details</h4>
<div>
<div>
<div class="container">
    <h3 class="text-center">Latest Aid Requests နောက်ဆုံးရ အကူအညီတောင်းဆိုမှုများ</h3>
    <%- @requests.each do |req| %>
    <div class="col-md-3" style="border-right:solid 2px #ccc;"">
        For <span class="label label-danger">
            <%= req.location.township %>
        </span>
        &nbsp;<span>Ref Code: <%= req.code %></span></br>
        Posted <span class="badge"><%= time_ago_in_words(req.created_at)%> ago</span>
        
        <p class="content" style="font-size:1.4em;font-weight:bold;">
        <%= req.content %> 
        </p>
    </div>
<%- end -%>
</div>
<%-
    content_for :loc do
        "/requests"
    end
-%>
