<br/>
<div class="row" style="background-color:#34b233;">
    <div class="container">
        <h4 style="color:#fff;"> အကူညီ ေပးလိုပါသည္ </h4>
    </div>
</div>
<br/>
<div class="container">
    <%- model_class = AidOffer -%>
    <div class="panel panel-default">
        <div class="panel-body">
            <h6>For <span class="label label-danger">
                <%= @aid_offer.location_id == -1 ? "ANYWHERE" : @aid_offer.location.township %>
        </span>
        &nbsp;<span>Ref Code: <%= @aid_offer.code %></span>&nbsp;
        Posted <span class="badge"><%= time_ago_in_words(@aid_offer.created_at)%> ago</span></h6>

            <p class="content" style="font-size:1.4em;font-weight:bold;">
            <%= @aid_offer.content %> 
            </p>
        </div>

    </div>
</div>
<%- 
    content_for :loc do 
        "/+/o/" + @aid_offer.code
    end 
-%>
